.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h1 {
  font-family: 'Allison', cursive;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
}

.cat-div-container{
  margin: 15px;
  display: flex;
  flex: 1 0 20%;
  justify-content: center;
  align-items: center;
  height: 18rem;
  width: 18rem;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  filter: grayscale(0.5);
  transition: .4s;
}

.cat-div-container:hover {
  transform: scale(1.05) rotate(0.5deg);
  filter: grayscale(0);
  transition: .3s;
}

.cat-img-container{
  max-height: 100%;
  max-width: 100%;
}

.screen-container {
  display: flex;
  flex-wrap: wrap;
}

.pagination {
  margin-top: 80px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.page-link {
  font-size: small;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  color: #838383;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: rgb(187, 215, 233);
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  transition: 0.2s;
}

.page-link:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(223, 238, 247);
  transition: 0.1s;
}

.page-link:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(236, 245, 250);
}

.active .page-link {
  background-color: rgb(226, 233, 236);
}


.page-link-end {
  font-family: 'Allison', cursive;
  font-weight: bolder;
  font-size: 2rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  margin: 5px 25px;
  height: 18px;
  display: flex;
  justify-content: center;
  transition: 0.2s;
}

.page-link-end:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: 0.1s;
}

.page-link-end:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.active .page-link-end {
}
